{
  "github_user": "magicoli",
  "repo": "opensim-helpers",
  "output_folder": "../www",
  "menu": [
    { "title": "Installation", "file": "INSTALLATION.md" },
    { "title": "Troubleshooting", "file": "TROUBLESHOOTING.md" },
    { "title": "Download", "file": "download" },
    { "title": "Support", "file": "support" },
    { "title": "Donate", "file": "donate" }
  ]
}
